<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"] - MehmetUtkuGunduz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

	<link rel="stylesheet" href="~/RealEstateTemplate/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/RealEstateTemplate/css/animate.css">

	<link rel="stylesheet" href="~/RealEstateTemplate/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/RealEstateTemplate/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/RealEstateTemplate/css/magnific-popup.css">

	<link rel="stylesheet" href="~/RealEstateTemplate/css/aos.css">

	<link rel="stylesheet" href="~/RealEstateTemplate/css/ionicons.min.css">

	<link rel="stylesheet" href="~/RealEstateTemplate/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/RealEstateTemplate/css/jquery.timepicker.css">


	<link rel="stylesheet" href="~/RealEstateTemplate/css/flaticon.css">
	<link rel="stylesheet" href="~/RealEstateTemplate/css/icomoon.css">
	<link rel="stylesheet" href="~/RealEstateTemplate/css/style.css">
</head>
<body>
	<div class="top">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col">
					<p class="social d-flex">
						<a href="#"><span class="icon-facebook"></span></a>
						<a href="#"><span class="icon-twitter"></span></a>
						<a href="#"><span class="icon-google"></span></a>
						<a href="#"><span class="icon-pinterest"></span></a>
					</p>
				</div>
				<div class="col d-flex justify-content-end">
					<p class="num"><span class="icon-phone"></span> + 90 242 311 11 11</p>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MUG<span>Emlak</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Anasayfa</a></li>
					<li class="nav-item"><a asp-area="" asp-controller="Estate" asp-action="Index" class="nav-link">Emlaklar</a></li>
					<li class="nav-item"><a asp-area="" asp-controller="Todo" asp-action="Index" class="nav-link">Yapılacaklar</a></li>
					<li class="nav-item"><a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a></li>
					<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">Privacy</a></li>
				</ul>
				<partial name="_MenuPartial"></partial>
				<partial name="_LoginPartial"></partial>
			</div>
		</div>
	</nav>
	<!-- END nav -->
	@RenderBody()
	<section class="ftco-section-parallax">
		<div class="parallax-img d-flex align-items-center">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
						<h2>Bültenimize Abone Olun</h2>
						<div class="row d-flex justify-content-center mt-5">
							<div class="col-md-8">
								<form action="#" class="subscribe-form">
									<div class="form-group d-flex">
										<input type="text" class="form-control" placeholder="E-Posta Adresini Girin">
										<input type="submit" value="Abone Ol" class="submit px-3">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Emlak Platformu</h2>
						<p>Çok uzakta, dağların arkasında, Vokalia ve Consonantia ülkelerinden çok uzakta, kör metinler yaşıyor.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Satın Al</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Satılık Evler</a></li>
							<li><a href="#" class="py-2 d-block">Devremülkler</a></li>
							<li><a href="#" class="py-2 d-block">Yeni İlanlar</a></li>
							<li><a href="#" class="py-2 d-block">İndirime Girenler</a></li>
							<li><a href="#" class="py-2 d-block">Piyasa Dışı Evler</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Satış Yap</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Evinizi Satın</a></li>
							<li><a href="#" class="py-2 d-block">Evinizin Değerini Öğrenin</a></li>
							<li><a href="#" class="py-2 d-block">Yerel Ev Fiyatları</a></li>
							<li><a href="#" class="py-2 d-block">Klavuzlar &amp; Kurallar</a></li>
							<li><a href="#" class="py-2 d-block">Diğerleri</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Bize Danışın</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Pınarbaşı Mah. Dumlupınar Bulvarı 07070 Kampüs Konyaaltı/Antalya/TÜRKİYE</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text"> + 90 242 311 11 11</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span class="text">Bilgi@emlakplatformu.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


	<script src="~/RealEstateTemplate/js/jquery.min.js"></script>
	<script src="~/RealEstateTemplate/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/RealEstateTemplate/js/popper.min.js"></script>
	<script src="~/RealEstateTemplate/js/bootstrap.min.js"></script>
	<script src="~/RealEstateTemplate/js/jquery.easing.1.3.js"></script>
	<script src="~/RealEstateTemplate/js/jquery.waypoints.min.js"></script>
	<script src="~/RealEstateTemplate/js/jquery.stellar.min.js"></script>
	<script src="~/RealEstateTemplate/js/owl.carousel.min.js"></script>
	<script src="~/RealEstateTemplate/js/jquery.magnific-popup.min.js"></script>
	<script src="~/RealEstateTemplate/js/aos.js"></script>
	<script src="~/RealEstateTemplate/js/jquery.animateNumber.min.js"></script>
	<script src="~/RealEstateTemplate/js/bootstrap-datepicker.js"></script>
	<script src="~/RealEstateTemplate/js/jquery.timepicker.min.js"></script>
	<script src="~/RealEstateTemplate/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/RealEstateTemplate/js/google-map.js"></script>
	<script src="~/RealEstateTemplate/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@await Component.InvokeAsync("Notyf")
</body>
</html>