@{
    ViewData["Title"] = "Home Page";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(RealEstateTemplate/images/bg_1.jpg);">
    </div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-pin"></span></div></div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Dünyanın Her Yerinde Gayrimenkuller Bulun.</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Tecrübeli Acentalarımızla Hizmetinizdeyiz.</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-house"></span></div></div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Kiralık Modern Gayrimenkuller Satın Alın &amp; Kiralayın.</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-purse"></span></div></div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Hayallerinizdeki Gelir Düzeyine Ulaşın.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(RealEstateTemplate/images/bg_1.jpg);">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-4">Güncel Sayılar</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="9000">0</strong>
								<span>Memnun Müşteriler</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="10000">0</strong>
								<span>Gayrimenkuller</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="1000">0</strong>
								<span>Acentalarımız</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="100">0</strong>
								<span>Ödüllerimiz</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

