@{
    ViewData["Title"] = "Home Page";
}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(RealEstateTemplate/images/bg_1.jpg);">
    </div>
</section>
    <div class="text-center">
        <h1 class="display-4">Hoş Geldiniz</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
