@{
    ViewData["Title"] = "Delete";
}

@model EstateModel
    <section class="ftco-section bg-light justify-content-center align-items-center">
        <div class="container">
            <h1>Emlak Sil</h1>
            <h3>"<b>@Model.Title</b>" Adlı Emlak Kaydı Silinecektir Onaylıyor musunuz?</h3>
            <form asp-controller="Estate" asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" />
                <a asp-action="Index" class="btn btn-outline-secondary">Geri Dön</a>
                <input type="submit" value="Sil" class="btn btn-outline-danger" />
            </form>
        </div>
    </section>

